.navbar{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.navbar-brand{
  margin: 0 auto;
}

.navbar-container {
  width: 90%;
  margin: 0 auto 0 auto;
}

.navbar-brand img{  
  width: 250px;
  height: 150px;
}