<div class="navbar-container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="\assets\img\logo.png" />
      </a>
    </div>
  </nav>
</div>
<app-nav-bar-menu></app-nav-bar-menu>
