<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Inicio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/app-appointment"> Agendar cita </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-filtered-appointment-list">
          Buscar citas agendadas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"> Login </a>
      </li>
    </ul>
  </div>
</nav>
