<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<div class="title-page">
  <h1>Autenticacíon</h1>
</div>
<div class="form-container">
  <form (submit)="login()" id="booking-form">

    <mat-form-field>
      <input [(ngModel)]="user" name="user" matInput placeholder="Usuario" type="text">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="pass" name="pass" matInput placeholder="Contraseña" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary">Ingresar</button>
  </form>
</div>
