.form-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
#booking-form{
  margin: 0 auto;
  max-width: 500px;
  min-width: 400px;
}
.title-page{
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
}

.error {
  background-color: #d84f4f;
  padding: 10px;
}

.success {
  background-color: #73cc73;
  padding: 10px;
}

.table-container{
  display: flex;
  align-items: center;
}

table {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  min-width: 700px;
}

.filter-form-container{
  display: flex;
  align-items: center;
}

.filter-form{
  margin: 0 auto;
  display: inline-grid;
}
@media screen and (max-width: 600px) {
  table {
    width: 80%;
    min-width: 100px;

  }
}

