<mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<div *ngIf="!loading && !loading">
  <div class="title-page">
    <h1>Buscar citas</h1>
  </div>
  <div class="form-container">
    <form (submit)="findAppoinment()" id="booking-form">

      <mat-form-field>
        <input [(ngModel)]="cc" name="cc" matInput placeholder="Ingrese cédula" type="text">
      </mat-form-field>

      <button mat-raised-button color="primary">Buscar citas</button>
    </form>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="filteredAppointments" class="mat-elevation-z8">
      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de cita </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.appointmentDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.name }} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.phone }} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.email }} </td>
      </ng-container>
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.hour }} </td>
      </ng-container>
      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef> Cancelar </th>
        <td mat-cell *matCellDef="let appointment"><button (click)="cancelAppointment(appointment._id)" mat-raised-button color="warn">Cancelar</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let appointments; columns: columns"></tr>
    </table>
  </div>

</div>
