.table-container{
  display: flex;
  align-items: center;
}

table {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  min-width: 700px;
}

.filter-form-container{
  display: flex;
  align-items: center;
}

.filter-form{
  margin: 0 auto;
  display: inline-grid;
}
@media screen and (max-width: 600px) {
  table {
    width: 80%;
    min-width: 100px;

  }
}

