<mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<div *ngIf="!loading && !loading">
  <div class="filter-form-container">
    <form (submit)="filterAppointment()" class="filter-form">
      <mat-form-field>
        <input [(ngModel)]="appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Filtrar por fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary">Filtrar</button>
    </form>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="appointments" class="mat-elevation-z8">
      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de cita </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.appointmentDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>
      <ng-container matColumnDef="cc">
        <th mat-header-cell *matHeaderCellDef> Cédula </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.cc }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.name }} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.phone }} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.email }} </td>
      </ng-container>
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.hour }} </td>
      </ng-container>
      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef> Cancelar </th>
        <td mat-cell *matCellDef="let appointment"><button (click)="cancelAppointment(appointment._id)" mat-raised-button color="warn">Cancelar</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let appointments; columns: columns"></tr>
    </table>
  </div>

</div>
