
footer{
  margin-top: 50px;
  text-align: center;
}

.title-footer{
  margin-top: 0px;
}

.title-footer h1{
  margin-bottom: 0px;
}

.whastapp-logo{
  height: 50px;
}
.contact-container{
  display: inline-flex;
}
.contact-data-container{
  display: flex;
  align-items: center;
}
.contact-data{
  margin: 0 30px 0px;
}

