<app-header></app-header>
<router-outlet></router-outlet>
<footer>
  <div class="title-footer">
    <h1>Contactanos</h1>
  </div>
  <div class="contact-container">
    <div class="contact-data-container">
      <h3 class="contact-data">Dirección cra 18 No 60-70 Tel. 601-5654400</h3>
    </div>
    <a href="https://api.whatsapp.com/send?phone=573184375346" target="_blank">
      <img class="whastapp-logo" src="assets/img/whatsappLogo.png" />
    </a>
  </div>
</footer>
