.form-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
#booking-form{
  margin: 0 auto;
  max-width: 500px;
  min-width: 400px;
}
.title-page{
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
}

.error {
  background-color: #d84f4f;
  padding: 10px;
}

.success {
  background-color: #73cc73;
  padding: 10px;
}
