<mat-toolbar *ngIf="successMsg" color="accent" >{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<div class="title-page">
  <h1>Agenda tu cita</h1>
</div>
<div class="form-container">
  <form (submit)="createAppointment()" id="booking-form">
    <mat-form-field>
      <input [(ngModel)]="appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Escoge una fecha" (dateChange)="filterAppointment()" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="cc" name="cc" matInput placeholder="Cédula">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="name" name="name" matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="phone" name="phone" matInput placeholder="Telefono">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" name="email" matInput placeholder="Email" type="email">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Seleccione tipo de servicio</mat-label>
      <mat-select [(ngModel)]="service" name="service" matSelect  type="text">
        <mat-option *ngFor="let service of services" [value]="service.value" [disabled]="service.disabled">
          {{service.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Seleccione hora</mat-label>
      <mat-select [(ngModel)]="hour" name="hour" matSelect  type="text">
        <mat-option *ngFor="let hour of hours" [value]="hour.value" [disabled]="hour.disabled">
          {{hour.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Agenda una cita</button>
  </form>
</div>
