<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<div class="title-page">
  <h1>Buscar citas</h1>
</div>
<div class="form-container">
  <form (submit)="findAppoinment()" id="booking-form">

    <mat-form-field>
      <input [(ngModel)]="mail" name="mail" matInput placeholder="Ingrese correo" type="text">
    </mat-form-field>

    <button mat-raised-button color="primary">Buscar citas</button>
  </form>
</div>
